{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
  ],
  "rules": {
    // We want to use index.js from create-react-app
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],

    // We want to use "to" for Link from react-router
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }]
  },
}
