@import 'template.scss';

.login-form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: $text-5;

  input {
    width: 100%;
  }

  .btn {
    margin-top: 2em;
    font-family: $sans-serif;
  }

  label {
    color: $dark;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    font-weight: 500;
    font-size: $text-1;
    font-family: $sans-serif;
  }
}

.login-header {
  font-size: $text-8;
  text-align: center;
  border-bottom: 4px solid $blue;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}
