@import 'index.scss';

.navbar-container {
  background-color: rgba($white, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 1em;
  width: $page-width;
  margin: 0 auto;
  justify-content: flex-end;
  font-family: $sans-serif;

  a {
    padding: 1em;
    display: block;
  }

  .brand {
    font-family: $serif;
    font-weight: 600;
    margin-right: auto;
    font-size: 1.2em;
    padding: 0;
  }
}
