@import 'template.scss';

.navbar-container {
  background-color: rgba($white, 0.6);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 1em;
  width: $page-width;
  margin: 0 auto;
  justify-content: flex-end;
  font-family: $sans-serif;
  height: 3.7em;

  a {
    padding: 1em;
    display: block;
  }

  .brand {
    font-family: $serif;
    font-weight: 600;
    margin-right: auto;
    font-size: $text-5;
    padding: 0;
  }

  .light-btn {
    color: $cream;
    font-weight: 600;
    border-radius: 0.28571429rem;
    padding: 0.4em 0.6em;
    margin-left: 1em;
    background-color: $dark;
    box-shadow: 0 7px 14px rgba($cream, 0.3), 0 3px 6px rgba($cream, 0.5);
  }

  .logout-btn {
    color: rgba($dark, 0.5);
  }
}
