@import 'index.scss';

.navbar-container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.navbar {
  display: flex;
  padding: 0 1em;
  width: $page-width;
  margin: 0 auto;
  justify-content: flex-end;
  font-family: $sans-serif;

  a {
    padding: 1em;
    display: block;
  }
}

.brand {
  font-family: $serif;
  font-weight: 600;
  margin-right: auto;
}
