@import 'template.scss';

.profile-header {
  text-align: center;
  font-size: $text-10;
  font-weight: 600;
  margin-bottom: 0.6em;
  margin-top: 0.3em;
  color: $dark;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  margin: 1em;
  padding: 2em;
  background-color: $dark;
  border-radius: 4px;
  box-shadow: 0 7px 14px rgba($cream, 0.5), 0 3px 6px rgba($cream, 0.7);
  width: 190px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;

  &:hover {
    background-color: rgba($dark, 0.9);
    box-shadow: 5px 7px 14px rgba($dark, 0.3), 0 3px 6px rgba($dark, 0.5);
    transform: translateY(-2px);
  }
}

.book-title {
  color: $cream;
  font-size: $text-4;
  font-weight: 500;
}

.book-author {
  color: $blue;
  font-size: $text-2;
  margin-top: 2em;
  display: flex;
  margin-left: auto;
}
