@import 'template.scss';

.journal-editor {
  font-size: $text-5;
  font-family: $serif;
  width: $page-width-small;
  background-color: $white;
  padding: 1em;
  margin: 0 auto;
  margin-bottom: 2em;
  min-height: 100vh;

  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: -1;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.ql-editor {
  line-height: 1.58;
}

.ql-bubble .ql-editor blockquote {
  border-left-color: rgba($blue, 0.4);

  + blockquote {
    margin-top: -5px;
  }
}
